*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all .2s linear;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    color: white;
}